body{
    background:#f0f0f0;
    margin:0;
    padding:30px;
}

#box{
    height:800px;
    width:800px;
    border:20px solid gray;
    margin:auto;
}

.row{
    height:100px;
    width:800px;
}

.w{
    height:100px;
    width:100px;
    background:white;
    float:left;
    font-size:60px;
    text-align:center;
    line-height:100px;
}

.b{
    height:100px;
    width:100px;
    background:black;
    color:white;
    float:left;
    font-size:60px;
    text-align:center;
    line-height:100px;
}